<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src='/javascripts/login.js'></script>
  <script src='/javascripts/admin_requests.js'></script>
  <style>
    #container-footer{
      /*position: absolute;*/
      right: 0;
      bottom: 0;
      left: 0;
    }

    #ran-wrapper{
      height:100%;
    }

    .remove{
      padding: 0;
      border: none;
      background: none;
      color: red;
    }

    .admin{
      color: green;
    }

    .member{
      color: red;
    }
  </style>
</head>
<body>

  <div id="ran-wrapper">
        <div class="masthead">
      <div id="first">
        <a href="http://www.funderstogether.org/">
          <img id="funder_logo" src="http://d3n8a8pro7vhmx.cloudfront.net/funderstogether/sites/1/meta_images/original/funderstogether-logo.png?1389484084">
        </a>
      </div>
      <div id="second_header">
        <p id="tagline">
          A national network of funders supporting strategic, innovative, and effective solutions to homelessness
        </p>
        <ul id="soc_icons">
          <a href="https://www.facebook.com/funderstogether">
            <li class="fa fa-facebook-square fa-2x"></li>
          </a>
          <a href="https://twitter.com/funderstogether">
            <li class="fa fa-twitter-square fa-2x"></li>
          </a>
          <a href="http://www.linkedin.com/groups/Funders-Together-End-Homelessness-742397">
            <li class="fa fa-linkedin-square fa-2x"></li>
          </a>
        </ul>
      </div>
    </div>

  <div id="main_container" class="container-fluid">

      <!-- Flash message -->
    <% if (error) {%>
      <br />
      <div class="row">
        <div class="col-sm-1"></div>
        <div class='alert alert-danger col-sm-10' role='alert'>
          <%=message %> 
        </div>
      </div>
    <% } %>
    <% if (success) {%>
      <br />
      <div class="row">
        <div class="col-sm-1"></div>
        <div class='alert alert-success col-sm-10' role='alert'>
          <%=message %> 
        </div>
      </div>
    <% } %>

    <h2> Admin Dashboard - Users </h2>
    <h3> Name &nbsp | &nbsp Organization Name &nbsp | &nbsp Email  &nbsp | &nbsp Group </h3>
    <% users.forEach(function(user){ %>
      <h4>
      <form id ="<%=user._id%>" method="post">
        
        <button type="button" id="remove" class="remove glyphicon glyphicon-remove inline"></button>
        <input type="hidden" id="email" value =<%=user.email%>></input>
        &nbsp &nbsp
        <%= user.name %> &nbsp | &nbsp;
        <%= user.organizationName%> &nbsp | &nbsp;
        <a href="mailto:<%=user.email%>?Subject=Funders%20Together%20Invitation%20Code" target="_top"><%= user.email%> </a> &nbsp | &nbsp;
        <%= user.group %>
        &nbsp | &nbsp;
        <% if (user.group == 'admin') { %>
          <a href="#" id="member" class="member"> Change to Member</a>
        <% } else { %> 
          <a href="#" id="admin" class="admin"> Change to Admin</a>
        <% } %>
        </h4>
        
      </form>
    <% }) %>
      <br /> 
      <a class="btn btn-info" href = "/admin">Return to Main Dashboard</a>
      <a class="btn btn-info" href = "/">Return to Map</a>
  </div>
</div>

      <div id="container-footer">
      <div class="container">
        <ul>
          <li><a href="http://www.funderstogether.org/contact_us">CONTACT</a></li>
          <li><a href="http://www.funderstogether.org/press">PRESS</a></li>
          <li><a href="http://www.funderstogether.org/careers">CAREERS</a></li>
        </ul>
        <br>
        <br>
        <div id="topContent" class="container">
          <div class="center cleared-floats">
            <p>Funders Together to End Homelessness<br>89 South Street, 8th Floor |&nbsp;Boston, MA 02111 |&nbsp;617.245.0314 |&nbsp;info@funderstogether.org
              <br>
              <br>Copyright 2013 Funders Together to End Homelessness
            </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>