<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    #container-footer{
      /*position: absolute;*/
      right: 0;
      bottom: 0;
      left: 0;
    }

    #ran-wrapper{
      height:100%;
    }

    .accept{
      padding: 0;
      border: none;
      background: none;
      color: green;
    }

    .reject{
      padding: 0;
      border: none;
      background: none;
      color: red;
    }

    .approved{
      color: green;
    }

    input{
        margin-bottom:10px;
        font-family: "Source Sans Pro",sans-serif;
    }

  </style>
</head>
<body>

  <div id="ran-wrapper">
		    <div class="masthead">
      <div id="first">
        <a href="http://www.funderstogether.org/">
          <img id="funder_logo" src="http://d3n8a8pro7vhmx.cloudfront.net/funderstogether/sites/1/meta_images/original/funderstogether-logo.png?1389484084">
        </a>
      </div>
      <div id="second_header">
        <p id="tagline">
          A national network of funders supporting strategic, innovative, and effective solutions to homelessness
        </p>
        <ul id="soc_icons">
          <a href="https://www.facebook.com/funderstogether">
            <li class="fa fa-facebook-square fa-2x"></li>
          </a>
          <a href="https://twitter.com/funderstogether">
            <li class="fa fa-twitter-square fa-2x"></li>
          </a>
          <a href="http://www.linkedin.com/groups/Funders-Together-End-Homelessness-742397">
            <li class="fa fa-linkedin-square fa-2x"></li>
          </a>
        </ul>
      </div>
    </div>

    <div id="main_container" class="container-fluid">
     
    <!-- Flash message -->
    <% if (error) {%>
      <br />
      <div class="row">
        <div class="col-sm-1"></div>
        <div class='alert alert-danger col-sm-10' role='alert'>
          <%=message %> 
        </div>
      </div>
    <% } %>
    <% if (success) {%>
      <br />
      <div class="row">
        <div class="col-sm-1"></div>
        <div class='alert alert-success col-sm-10' role='alert'>
          <%=message %> 
        </div>
      </div>
    <% } %>
    
      <div class ="col-sm-6 centered">
    	<h2> Admin Dashboard - Requests </h2>
      <h3> Name &nbsp | &nbsp Organization Name &nbsp | &nbsp Email &nbsp | &nbsp Message</h3>
    	<% codes.forEach(function(code){ %>
        <h4>
        <form id ="<%=code._id%>" method="get" name="approval">
          <!-- <input type="hidden" value=<%=code._id%> name="requestedUser">action="/request/<%=code._id%>" -->
          <% if (!code.approved) {%>
            <a type="button" name="accept" class="accept glyphicon glyphicon-ok inline" href="/admin/requests/accept/<%=code._id%>" ></a> 
            <a type="button" name="reject" class="reject glyphicon glyphicon-remove inline" href="/admin/requests/reject/<%=code._id%>"></a>
            &nbsp &nbsp &nbsp &nbsp
          <% } else { %>
            <span class='approved'> approved </span>
          <% } %>
          &nbsp &nbsp
          <%= code.name %> &nbsp | &nbsp;
          <%= code.organizationName %> &nbsp | &nbsp;
          <a href="mailto:<%=code.email%>?Subject=Funders%20Together%20Invitation%20Code" target="_top"><%=code.email%> </a> &nbsp | &nbsp;
          <a href = "/admin/<%= code._id %>" class="message"> View Message</a>
        </h4>
        </form>
    	<% }) %>
      <a class="btn btn-info" href = "/admin">Return to Main Dashboard</a>
      <a class="btn btn-info" href = "/">Return to Map</a>

      <!-- Invitation Form -->
  		<br /> 
      <form id='invite_form' action="/admin/requests/invite" method="POST">
          <h2> Admin Dashboard - Invite </h2>
          <input type="text" class="form-control input-lg" name="organizationName" placeholder="Organization name" required>
          <input type="text" class="form-control input-lg" name="name" placeholder="To whom this invitation is addressed to" required>
          <input type="email" class="form-control input-lg" name="email" placeholder="Organization email" required>
          <input type="submit" value="Create Invitation Code" class="btn btn-lg btn-primary btn-block">
      </form>  
    </div>
    </div>
</div>

	    <div id="container-footer">
      <div class="container">
        <ul>
          <li><a href="http://www.funderstogether.org/contact_us">CONTACT</a></li>
          <li><a href="http://www.funderstogether.org/press">PRESS</a></li>
          <li><a href="http://www.funderstogether.org/careers">CAREERS</a></li>
        </ul>
        <br>
        <br>
        <div id="topContent" class="container">
          <div class="center cleared-floats">
            <p>Funders Together to End Homelessness<br>89 South Street, 8th Floor |&nbsp;Boston, MA 02111 |&nbsp;617.245.0314 |&nbsp;info@funderstogether.org
              <br>
              <br>Copyright 2013 Funders Together to End Homelessness
            </p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>